.project
.settings
.envrc
.kube
.vscode
.terraform
.DS_Store
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform.lock.hcl
terraform/us-opa-config.yaml
terraform/global-opa-config.yaml
terraform/.terraform.tfstate.lock.info
